body {
    background: #333;
    color: #EEE;
}

a { color: #5f95c3; }
a:visited { color: #3f6f98; }


#horizontal-main {
    display: flex;
}
#horizontal-main > * {
    margin-right: 10px;
}


/* Blockly related things */
#blocklyDiv {
    color: black;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#capacity {
  color: red;
}

.blocklySvg {
    background-color: #3a3a3a;
}
